//sidebar
$menuText:#fff;
$menuActiveText:#ffd04b;

$menuBg:#545c64;


$sideBarWidth: 250px;

// the :export directive is the magic sauce for webpack
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  sideBarWidth: $sideBarWidth;
}
